<div class="container-fluid p-5 bg-primary">
    <div class="container">
    <div class="row justify-content-center">
        <div class=" col-lg-3 col-sm-6 pt-5 text-secondary ">
            <b>Our products</b><br><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
        </div>
        <div class=" col-lg-3 col-sm-6 pt-5 text-secondary">
            <b>About EduBay</b><br><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            
        </div>
        <div class=" col-lg-3 col-sm-6 pt-5 text-secondary">
            <b>Resources</b><br><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
        </div>
        <div class=" col-lg-3 col-sm-6 pt-5 text-secondary">
            <b>Help</b><br><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
            <a class="link text-secondary" href="#">Lorem ipsum</a><br>
        
        </div>
        <div class=" col-12 text-secondary pt-5">
            <P>Powered by EduBay Cogninet ©2022.<P>
        </div>
    </div>
    </div>
</div>

