<div class="container-fluid bg-primary rounded">
    <div class = "p-5 my-5">
        <div class="row justify-content-start">
            <div class="col-12 my-5 text-secondary">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
            </div>
                <button type="submit" class="btn btn-primary border-secondary col-md-3  col-sm-5 me-5"><b>Start your free trial</b></button>
                <a class="link col-md-4  col-sm-5 p-2 text-secondary" href="#"><b>Lorem ipsum</b></a>
        </div>
    </div>
</div>