<div class="container-fluid  bg-success rounded">
    <div class = "p-5 ">
        <div class="row">
            <div class="col-12">
                <h1>Start using EduBay search for free</h1>
            </div>
            <div class="col-md-8 col-sm-12 py-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat consequat mauris nunc congue nisi vitae suscipit. Dictum fusce ut placerat orci nulla pellentesque dignissim enim sit. Blandit massa enim nec dui nunc mattis enim. Sem viverra aliquet eget sit.
            </div>
            <div class="col-md-4 col-sm-12 py-3">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
            <div class="col-12">
                <label for="staticEmail" class="label"><b>Email address</b></label> 
            </div>
            <div class="col-md-4 col-sm-12">
                <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-4 col-sm-12">
                <button type="submit" class="btn btn-primary mb-3"><b>Start your free trial</b></button>
            </div>
            <div class="col-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>  
  </div>
