$theme-colors: (
  "secondary":    #3b69a5ff,
  "primary":  #f2f2f2ff,
  "success":    #3b69a5ff,
  "info":       #3B9EA5ff,
  "warning":    #cc5959ff,
  "danger":     #cc5959ff,
  "dark":      #f2f2f2ff,
  "light":       #3b69a5ff,
);

$body-bg: #23272a;
$card-bg: #99aab5;
$body-color: #fff;
$font-size-base: 1rem;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";