<div class ="container-fluid bg-primary rounded bg-opacity-10">
<div class = "m-lg-5 m-sm-0">
  <div class="card-group text-center">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="card m-4 p-0" style="width: 25rem;">
        <div class="card-header">Starter</div>
        <div class="card-body">
          <h5 class="card-title m-4">$30</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">Feature 1</li>
            <li class="list-group-item">Feature 2</li>
            <li class="list-group-item">Feature 3</li>
            <li class="list-group-item">Feature 4</li>
            <li class="list-group-item">Feature 5</li>
            <li class="list-group-item">Feature 6</li>
          </ul>
          <button type="button" class="btn m-3 btn-secondary border-primary rounded-pill btn-lg ">Subscribe</button>
        </div>
      </div>
      <div class="card m-4 p-0" style="width: 25rem;">
        <div class="card-header bg-success">Free</div>
        <div class="card-body">
          <h5 class="card-title m-4">$0</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          
        </div>
        <div class="card-footer">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Feature 1</li>
            <li class="list-group-item">Feature 2</li>
            <li class="list-group-item">Feature 3</li>
            <li class="list-group-item">Feature 4</li>
            <li class="list-group-item">Feature 5</li>
            <li class="list-group-item">Feature 6</li>
          </ul>
          <button type="button" class="btn m-3 btn-success rounded-pill btn-lg ">Subscribe</button>
        </div>
      </div>
      <div class="card m-4 p-0" style="width: 25rem;">
        <div class="card-header">Premium</div>
        <div class="card-body">
          <h5 class="card-title m-4">$60</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> 
        </div>
        <div class="card-footer">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Feature 1</li>
            <li class="list-group-item">Feature 2</li>
            <li class="list-group-item">Feature 3</li>
            <li class="list-group-item">Feature 4</li>
            <li class="list-group-item">Feature 5</li>
            <li class="list-group-item">Feature 6</li>
          </ul>
          <button type="button" class="btn m-3 btn-secondary border-primary rounded-pill btn-lg ">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
